body {
  background-color: white;
  color: black;
  font-family: Arial;
  margin-bottom: 8%;
}
.intro {
  margin-top: 10%;
}
.about,.key-mapping {
  font-weight: bold;
  font-size: 30px;
}
.note-word{
  font-weight: bold;
}
.topic {
  color: red;
  border: black dashed 2px;
  font-weight: bold;
}
.name-topic {
  font-family: cursive;
  color: blue;
  font-style: italic;
}
.reset-score ,.auto-play{
  background-color: rgb(0, 149, 255);
  border: none;
  color: white;
  font-weight: bold;
  padding: 4%;
  cursor: pointer;
}
.reset-score:hover,.auto-play:hover{
  background-color: blue;
}
.reset-score:active,.auto-play:active{
  background-color: white;
  color: blue;
  border: blue solid 3px;
}
.button-emojis {
  background-color: white;
  border: none;
  cursor: pointer;
}
.player-emojis {
  border: black dashed 2px;
  background-color: white;
}
.website-title {
  font-weight: bold;
  color: black;
  font-size: 25px;
}
.website {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 3%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(
    to right,
    red,
    blue,
    rgb(255, 79, 109),
    orange,
    violet,
    gray,
    limegreen
  );
}
@media (max-width: 767px) {
  .topic {
    font-size: 30px;
  }
  .topic{
    padding:3%;
  }
  .description {
    font-size: 25px;
    margin-bottom: 3%;
  }
  .topic {
    margin-bottom: 10%;
  }
  .button-emojis {
    margin-right: 2%;
  }
  .player-emojis {
    width: 60px;
    height: 60px;
    border-radius: 55px;
    padding: 15%;
  }
  .move-icon {
    width: 60px;
  }
  .buttons {
    width: 150%;
    height: 150%;
  }
  .result-value,
  .update-score,
  .reset-score,.auto-play,.result {
    font-size: 21px;
    margin-bottom: 7%;
  }
  .auto-play{
    margin-left: 3%;
  }
  .intro,
  .results {
    margin-left: 2%;
  }
}
@media((min-width:768px) and (max-width:1023px)){
  .intro{
    width: 58%;
    margin-bottom: 2%;
  }
  .topic{
    padding: 3%;
  }
  .website-title{
    margin-bottom: 5%;
  }
  .website{
    margin-left: -200px;
  }
  .player-emojis {
    width: 60px;
    height: 60px;
    border-radius: 55px;
    padding: 15%;
  }
  .auto-play,.reset-score{
    margin-left: 13%;
  }
  .description{
    width: 68%;
  }
  .move-icon {
    width: 60px;
  }
  .intro{
    margin-top: 3%;
  }
  .topic{
    font-size: 30px;
  }
  .result-value,.result{
    margin-bottom: 3%;
  }
  .button-emojis{
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .reset-score,.auto-play{
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 2%;
  }
}
@media(min-width:1024px){
  .intro{
    width: 50%;
    margin-bottom: 2%;
  }
  .topic{
    padding: 3%;
  }
  .player-emojis {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    padding: 15%;
  }
  .intro{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 28%;
  }
  .topic{
    font-size: 40px;
  }
  .about{
    font-size: 40px;
  }
  .description{
    font-size: 30px;
    margin-bottom: 3%;
  }
  .button-emojis{
    margin-right: 15%;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  .move-icon{
    width: 80px;
  }
  .results,.reset-score,.auto-play{
    font-size: 30px;
  }
  .result-value,.result,.update-score{
    margin-bottom: 2%;
  }
  .reset-score{
    margin-left: -100px;
  }
  .auto-play{
    margin-left: 15%;
  }
  .reset-score,.auto-play{
    padding: 2%;
  }
  .results{
    margin-left: 35%;
  }
  .result{
    margin-left: 12.5%;
  }
  .update-score{
    margin-left: 7%;
  }
  .reset-score,.auto-play{
    outline: none;
  }
  .name-topic{
    margin-left: 10%;
  }
  .website{
    font-size: 30px;
  }
  .website-title{
    font-size: 35px;
    margin-bottom: 7%;
  }
}
